doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title World of Fun | #{title}
    link(href="/styles/style.css", rel="stylesheet")

    script(src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript" defer)
    script(src="./scripts/active.js" type="text/javascript" defer)
  body
    header.header
        img(src="/images/logo.png", alt="WoF")
    section.mainCategory
        ul(data-catactive=""+activeCat+"")
            each val in categories
                li
                    a(href="/"+val.catName+"") #{val.catName}
            .catActive

    section.subCategory
        ul(data-subcatactive=""+activeSubCat+"") 
            each val in subcategories.subCategories
                li
                    a(href="/"+subcategories.catName+"/"+val.subCatName+"") #{val.subCatName}

    main.mainContainer
        section.contentWrapper 
            each val in contents 
                .content 
                    .contentThumb 
                        a(href="/preview/"+val.catName+"/"+val.subCatName+"/"+val._id+"")
                            img(src=""+val.thumbnail+"", alt=""+val.name+"")
                    .contentName 
                        p #{val.name}
                    .contentCta
                        a(href="#") Download